<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Environment</string>
			<key>Titles</key>
			<array>
				<string>Amazon</string>
				<string>K2</string>
				<string>Development</string>
				<string>Pre Production</string>
				<string>QA</string>
				<string>Stage</string>
				<string>Production</string>
				<string>EOS DEV</string>
				<string>ZJ</string>
				<string>MTravel</string>
				<string>HPEOS</string>
				<string>Asia Pacific</string>
				<string>Order Dev</string>
				<string>UAT</string>
			</array>
			<key>Key</key>
			<string>env_preference</string>
			<key>Values</key>
			<array>
				<string>Amazon</string>
				<string>K2</string>
				<string>DEV</string>
				<string>PreProd</string>
				<string>QA</string>
				<string>STG</string>
				<string>PROD</string>
				<string>Company</string>
				<string>ZJ</string>
				<string>MT</string>
				<string>HPEOS</string>
				<string>AP</string>
				<string>OrderDev</string>
				<string>UAT</string>
			</array>
			<key>DefaultValue</key>
			<string>DEV</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>cleanup_preference</string>
			<key>Title</key>
			<string>Cleanup</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>debug_preference</string>
			<key>Title</key>
			<string>Debug</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Restart App after Change the Settings above.</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
